@font-face {
	font-family: 'Lato-Regular';
    src : url('../font/Lato-Regular.woff') format('woff'),
          url('../font/Lato-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: 'HarabaraMaisBold';
    src : url('../font/HarabaraMaisBold.woff') format('woff');
}


BODY 
{
	font-family: 'Lato-Regular', Fallback, "Arial", "Lucida Grande", Tahoma", Verdana";
    font-size: 13px;
	background-color : white;
}

.map {
	position : absolute;
	width : 100%;
	height : 100%;
	left:0;
	top:0;
}

.popup_pulse_div {
	height : 22px;
}

.popup_pulse {
	width : 17px;
	height : 15px;
	position : absolute;
	right : 4px;
	top : 4px;
}

.popup_track_mode {
	width : 22px;
	height : 22px;
	position : absolute;
	left : 0;
	top : -1;
	margin-left : -11px;
}

.popup_freq {
	position : absolute;
	right : 6px;
	font-weight : bold;
	top : 17px;
	font-size : 10px;
	overflow : visible;
	width : 15px;
	text-align : center;
}

.popup_table {
	padding : 0;
	width : 250px;
	padding-left : 105px;
	padding-right: 5px;
	margin-top : 2px;
	border-radius : 4px;
	min-height : 100px;
	height : 100px;
	background-repeat : no-repeat;
	border-collapse : separate;
}

.popup_table td {
	padding : 0;
	line-height : 1.3;
	white-space:nowrap;
}

.popup_table td.lbl {
	color : #C0C0C0;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);	
}

.popup_table td.value {
	text-align : right;
	padding-left : 5px;
	font-weight : bold;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);	
}

.popup_info {
	width : 100px;
	height : 100px;
	background-color:red;
}

.popup_freq, .popup_shadow, .popup_code {
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.popup_shadow {
	height : 22px;
	line-height : 22px;
	border : 1px solid black;	
	margin-top : 2px;
	margin-bottom : 4px;
	margin-left : 2px;
	margin-right : 2px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.95);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.95);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.95);	
	overflow:hidden;
	position :relative;
}

.popup_code {
	white-space : nowrap;
	display : block;
	font-size : 26px;
	font-weight : bold;
	line-height : 1;
	padding-right : 18px;
	/*background-image : url('../img/pulse-anim.gif');
	background-repeat : no-repeat;
	background-size: 423px 22px;*/
}

.map_button img {
	width : 32px;
	height : 32px;
} 
.map_buttons {
	z-index : 999999999999;
	position:absolute;
	bottom:5px;
	left:5px;
}	
.map_button {
	border : 2px solid #404040; 
	border-radius : 5px;
	padding : 5px;
	float : left;
	margin-right: 5px;
	cursor:pointer;
	background-color:rgba(0,0,0,0.3);
}

.map_buttons .active {
	border : 2px solid #FFFFFF;
	background-color : black; 
}

#route_text_area {
	border : 2px solid #404040; 
	border-radius : 5px;
	float : left;
	background-color:rgba(0,0,0,0.3);
	height : 41px;
	width : 300px;
	line-height : 1;
	padding : 2px;
	color : white;
	font-size : 10px;
}	

#route_info {
	border : 2px solid #404040; 
	border-radius : 5px;
	float : left;
	background-color:rgba(0,0,0,0.3);
	height : 41px;
	width : 300px;
	padding : 2px;
	color : white;
	font-size : 20px;
}	

.map_button:hover
{
	background-color:#A0A0A0;
} 

.map_fullscreen {
	position : absolute;
	width : 100%;
	height : 100%;
	left:0;
	top:0;
}

#header {
	z-index : 999999;
	position:absolute;
	top:0;
	left:50%;
	height : 80px;
	line-height : 60px;
	width:650px;
	margin-left : -325px;
  	background-color: white;
  	padding-right: 10px;	
  	padding-top: 10px;	
  	padding-bottom: 10px;
  	padding-left: 360px;	
  	border-left : 3px solid black;
  	border-right : 3px solid black;
 	border-bottom : 3px solid black;
 	font-family : HarabaraMaisBold;
 	font-size : 22px;
	background-image: url('../img/roth.jpg');
    background-repeat: no-repeat;
    background-position: left center;  	
}

#header .menuitem {
	float : left;
	margin-right : 3em;
	cursor : pointer;
}

#header .menuitem:hover {
	color : red;
}

#header .last {
	margin-right : 0;
}

#toolbar_map {
	z-index : 999999;
	position:absolute;
	bottom:0;
	left:50%;
	height : 104px;
	margin-left : -325px;
	width:650px;
  	background-color: rgba(0,0,0,.6);
  	border-radius: 40px;
  	padding: 2px;	
  	border-top : 3px solid white;
  	border-left : 3px solid white;
  	border-right : 3px solid white;
  	margin-bottom : -64px;
}	

#liverank-logo {
	z-index : 9999999;
	position:absolute;
	bottom:3px;
	left:50%;
	width:268px;
	height:77px;
	margin-left:-134px;
}

#button_livestream,
#button_rank,
#button_favorites,
#button_participants,
#toolbar_track {
    position : absolute;    
	z-index : 9999999;
	bottom : 94px;
	background-color: rgba(0,0,0,.6);
  	border-radius: 45px;
  	border : 3px solid white;
  	width : 90px;	
  	height : 90px;	
}	
#button_livestream img,
#button_rank img,
#button_favorites img,
#button_participants img {
	width : 70px;
	height : 70px;
	padding-left : 14px;
	padding-top : 14px;
}

#button_participants {
	left : 50%;
	margin-left : -325px;
}

#button_favorites {
	left : 50%;
	margin-left : -225px;
}

#button_rank {
	left : 50%;
	margin-left : -125px;
}

#button_livestream {
	left : 50%;
	margin-left : -25px;
}

#toolbar_track {
	left : 50%;
	margin-left : 100px;
	width : 225px;
}

#button_run,#button_bike,#button_swim {
    position : absolute;    
	background-color: rgba(0,0,0,.6);
  	border-radius: 32px;
  	border : 3px solid white;
  	width : 64px;	
  	height : 64px;
  	left : 8px;	
  	top : 10px;	
}
#button_run img ,#button_bike img ,#button_swim img {
	width : 48px;
	height : 48px;
	padding-top : 6px;
	padding-left : 6px;
}

#button_bike {
	left : 78px;
}

#button_run {
	left : 146px;
}

.map_participants,.map_favorites {
	display:inline;
	position : absolute;
	z-index : 9999999;
	width : auto;
	height : auto;
	max-width : 100%;
	max-height : 100%;
	background-color:rgba(255,255,255,0.75);
	border-radius : 5px;
	padding : 5px;
	overflow : auto;	
	-webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.95);
	-moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.95);
	box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.95);	
}

th.center {
	text-align : center;	
}

.map_participants table.dataTable tbody th, .map_participants table.dataTable tbody td,
.map_favorites table.dataTable tbody th, .map_favorites table.dataTable tbody td
 {
	padding :4px 2px !important;
}
.map_participants td,.map_favorites td {
	background-color : rgba(255,255,255,0) !important;	
	text-shadow: 0px 0px 4px white;	
	cursor : pointer;
}

.map_participants tbody tr:hover,.map_favorites tbody tr:hover {
	background-color : rgba(0,0,0,0.35) !important;
	color : white;
}

.map_participants tr,.map_favorites tr {
	background-color : transparent !important;
}

.dataTables_length {
	display : none;
}

.caption-general {
	font-size : 200%;
	font-weight : bold;
	display : block;
	line-height : 1;
	border-bottom : 1px solid black;
	margin-bottom : 10px;
	text-shadow: 0px 0px 4px white;	
	padding-bottom : 5px;
	padding-top : 10px;
}

table.dataTable td {
	vertical-align: middle !important;
} 


.table-favorite-add {
	width : 32px;
	height : 32px;
	/* border : 2px solid black; */
	cursor : pointer;
}

.invisible {
	display : none;
}

.close {
	position : absolute;
	right : 5px;
	top : 0.4em;
	width : 22px;
	height : 22px;
	background-image:url("../img/close.png");
	background-repeat:no-repeat;
	cursor:pointer;
}

.close:hover {
	background-image:url("../img/close-hover.png");
}

.ol-zoom{
	left : 0.25em;
	top : 0.25em;
}

.ol-attribution {
	right : 0.25em;
	top : 0.25em;
	bottom : auto;
}

.inactive {
	opacity : 0.5;
}

.ol-popup {
	pointer-events : none;
	background-color : transparent;
}
.ol-popup:before {
	display : none;
}

#participant_details {
	z-index:99999;
	position:absolute;
	background-color:red;
	top:0;
	bottom:0;
	left:0;
	width:auto;
	padding:5px;
}


#map {
	padding : 0;
}

#left_pane {
	overflow-x : hidden;
	overflow-y : auto;
}


.popup_content_img {
	position : absolute;
	width : 128px;
	height : 128px;
	border : 3px solid white;	
  	background-color: black;
	border-radius : 64px;	
}

.popup_content_1 {
	margin-left : 64px;
	padding-left : 70px;
	border : 3px solid white;	
  	background-color: rgba(0,0,0,.6);
	border-radius : 16px;
	padding-right : 16px;	
	padding-top : 4px;	
	padding-bottom : 4px;	
	white-space : nowrap;
}

.popup_content_name {
	font-weight : normal;
	font-family : HarabaraMaisBold;
	font-size : 24px; 
	border-bottom : 1px solid white;
	line-height : 1.2;
	display : block;
}

.popup_content_l1 {
	display : block;
	font-size : 10px;
	line-height : 2.2;		
	border-bottom : 1px solid white;
	margin-bottom : 0.5em;
}

.popup_content_l2, .popup_content_l3 {
	display : block;
	font-size : 12px;
	line-height : 1.4;		
}

.popup_content_prg {
	position : absolute;
	top : 113px;
	right : 0;
	left : 64px;
	padding-top : 3px;
	padding-bottom : 3px;
	padding-left : 70px;
	padding-right : 15px;
	border : 3px solid white;	
  	background-color: rgba(0,0,0,.6);
	border-radius : 9px;	
}

.popup_track_pos {
	position : absolute;
	height : 14px;
	left : 70px;
	right : 0;
}
.popup_track_pos_1 {
	position : relative;
	margin-top : -4px;
	margin-left : -4px;
  	background-color: white;
	border-radius : 8px;
	border : 2px solid black;
	width : 14px;
	height : 14px;
}	

.ol-popup {
	padding-left : 0;
	padding-right : 0;
	min-height : 140px;
}

#liveStream {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -325px;
    width: 650px;
    z-index: 999999;

}