@font-face {
	font-family: 'Lato-Regular';
    src : url('../font/Lato-Regular.woff') format('woff'),
          url('../font/Lato-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: 'HarabaraMaisBold';
    src : url('../font/HarabaraMaisBold.woff') format('woff');
}

BODY 
{
	font-family: Lato-Regular, Fallback, Arial, "Lucida Grande", Tahoma, Verdana, sans-serif;
    font-size: 13px;
	background-color : white;
}

.map {
	position : absolute;
	width : 100%;
	height : 100%;
	left:0;
	top:0;
}

.popup_pulse_div {
	height : 22px;
}

.popup_pulse {
	width : 17px;
	height : 15px;
	position : absolute;
	right : 4px;
	top : 4px;
}

.popup_track_mode {
	width : 22px;
	height : 22px;
	position : absolute;
	left : 0;
	top : -1px;
	margin-left : -11px;
}

.popup_freq {
	position : absolute;
	right : 6px;
	font-weight : bold;
	top : 17px;
	font-size : 10px;
	overflow : visible;
	width : 15px;
	text-align : center;
}

.popup_table {
	padding : 0;
	width : 250px;
	padding-left : 105px;
	padding-right: 5px;
	margin-top : 2px;
	border-radius : 4px;
	min-height : 100px;
	height : 100px;
	background-repeat : no-repeat;
	border-collapse : separate;
}

.popup_table td {
	padding : 0;
	line-height : 1.3;
	white-space:nowrap;
}

.popup_table td.lbl {
	color : #C0C0C0;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);	
}

.popup_table td.value {
	text-align : right;
	padding-left : 5px;
	font-weight : bold;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);	
}

.popup_info {
	width : 100px;
	height : 100px;
	background-color:red;
}

.popup_freq, .popup_shadow, .popup_code {
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.popup_shadow {
	height : 22px;
	line-height : 22px;
	border : 1px solid black;	
	margin-top : 2px;
	margin-bottom : 4px;
	margin-left : 2px;
	margin-right : 2px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.95);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.95);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.95);	
	overflow:hidden;
	position :relative;
}

.popup_code {
	white-space : nowrap;
	display : block;
	font-size : 26px;
	font-weight : bold;
	line-height : 1;
	padding-right : 18px;
	/*background-image : url('../img/pulse-anim.gif');
	background-repeat : no-repeat;
	background-size: 423px 22px;*/
}

.map_button img {
	width : 32px;
	height : 32px;
} 
.map_buttons {
	z-index : 999999999999;
	position:absolute;
	bottom:5px;
	left:5px;
}	
.map_button {
	border : 2px solid #404040; 
	border-radius : 5px;
	padding : 5px;
	float : left;
	margin-right: 5px;
	cursor:pointer;
	background-color:rgba(0,0,0,0.3);
}

.map_buttons .active {
	border : 2px solid #FFFFFF;
	background-color : black; 
}

#route_text_area {
	border : 2px solid #404040; 
	border-radius : 5px;
	float : left;
	background-color:rgba(0,0,0,0.3);
	height : 41px;
	width : 300px;
	line-height : 1;
	padding : 2px;
	color : white;
	font-size : 10px;
}	

#route_info {
	border : 2px solid #404040; 
	border-radius : 5px;
	float : left;
	background-color:rgba(0,0,0,0.3);
	height : 41px;
	width : 300px;
	padding : 2px;
	color : white;
	font-size : 20px;
}	

.map_button:hover
{
	background-color:#A0A0A0;
} 

.map_fullscreen {
	position : absolute;
	width : 100%;
	height : 100%;
	left:0;
	top:0;
}

#tabcont, #tabcont > [role=tabpanel] {
	width: 100%;
	height: 100%;
	position: relative;
}

#mikaTiming {
	bottom: 10px;
	left: 0;
	position: absolute;
	right: 0;
	top: 60px;
}

#header {
	top:0;
	height : 80px;
	line-height : 60px;
  	background-color: white;
	border : 3px solid #4c4c4c;
  	border-top : none;
	border-radius: 0 0 40px 40px;
 	font-family : HarabaraMaisBold;
 	font-size : 18px;

	background-image: url('../img/roth.jpg');
    background-repeat: no-repeat;
    background-position: left center;

	/* for those browsers that support multiple backgrounds */
	background-image: url("../img/roth.jpg"), url("../img/RacetheLegend.png");
	background-position: left center, right center;
	background-repeat: no-repeat;
	background-size: auto auto, 200px auto;
}

#toolbar_map {
	bottom:0;
	height : 104px;
  	background-color: rgba(0,0,0,.6);
  	border-radius: 40px;
  	padding: 2px;	
  	border-top : 3px solid white;
  	border-left : 3px solid white;
  	border-right : 3px solid white;
  	margin-bottom : -64px;
}

#liverank-logo {
	z-index : 9999999;
	position:absolute;
	bottom:3px;
	left:50%;
	width:268px;
	height:50px;
	margin-left:-134px;
}

#link_partners, #link_legalNotice {
	z-index: 9999999;
	position: absolute;
	bottom: 5px;
	text-transform: uppercase;
	color: white;
	font-size: 10px;
	cursor: pointer;
}
#link_partners {
	margin-right: 140px;
	right: 50%;
}

#link_legalNotice {
	left: 50%;
	margin-left: 140px;
}

#button_liveStream,
#button_rank,
#button_favorites,
#button_participants,
#toolbar_track {
    position : absolute;
	left : 50%;
	z-index : 9999999;
	bottom : 64px;
	background-color: rgba(0,0,0,.6);
  	border-radius: 35px;
  	border : 3px solid white;
  	width : 70px;
  	height : 70px;
}
#button_liveStream img,
#button_rank img,
#button_favorites img,
#button_participants img {
	width : 40px;
	height : 40px;
	margin-left : 12px;
	margin-top : 12px;
	cursor: pointer;
}

#button_participants {
	margin-left : -250px;
}

#button_favorites {
	margin-left : -175px;
}

#button_rank {
	margin-left : -95px;
}

#button_liveStream {
	margin-left : -15px;
}

#toolbar_track {
	margin-left : 64px;
	width : 185px;
	padding-top: 7px;
	padding-left: 9px;
}

#button_run,#button_bike,#button_swim {
    /*position : absolute;*/
	display: inline-block;
	z-index : 9999999;
	background-color: rgba(0,0,0,.6);
  	border-radius: 25px;
  	border : 3px solid white;
  	width : 50px;
  	height : 50px;
  	left : 8px;	
  	top : 10px;
}
#button_run img ,#button_bike img ,#button_swim img {
	width : 38px;
	height : 38px;
	padding-top : 5px;
	padding-left : 5px;
	cursor: pointer;
}

#button_bike {
	left : 78px;
}

#button_run {
	left : 146px;
}

.map_participants,.map_favorites {
	display:inline;
	position : absolute;
	z-index : 9999999;
	width : auto;
	height : auto;
	max-width : 100%;
	max-height : 100%;
	background-color:rgba(255,255,255,0.75);
	border-radius : 5px;
	padding : 5px;
	overflow : auto;	
	-webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.95);
	-moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.95);
	box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.95);	
}

th.center {
	text-align : center;	
}

.map_participants table.dataTable tbody th, .map_participants table.dataTable tbody td,
.map_favorites table.dataTable tbody th, .map_favorites table.dataTable tbody td
 {
	padding :4px 2px !important;
}
.map_participants td,.map_favorites td {
	background-color : rgba(255,255,255,0) !important;	
	text-shadow: 0px 0px 4px white;	
	cursor : pointer;
}

.map_participants tbody tr:hover,.map_favorites tbody tr:hover {
	background-color : rgba(0,0,0,0.35) !important;
	color : white;
}

.map_participants tr,.map_favorites tr {
	background-color : transparent !important;
}

.dataTables_length {
	display : none;
}

.caption-general {
	font-size : 200%;
	font-weight : bold;
	display : block;
	line-height : 1;
	border-bottom : 1px solid black;
	margin-bottom : 10px;
	text-shadow: 0px 0px 4px white;	
	padding-bottom : 5px;
	padding-top : 10px;
}

table.dataTable td {
	vertical-align: middle !important;
} 


.table-favorite-add {
	width : 20px;
	height : 20px;
	cursor : pointer;
}

.invisible {
	display : none;
}

.close {
	position : absolute;
	right : 5px;
	top : 0.4em;
	width : 22px;
	height : 22px;
	background-image:url("../img/close.png");
	background-repeat:no-repeat;
	cursor:pointer;
}

.close:hover {
	background-image:url("../img/close-hover.png");
}

.ol-zoom{
	left : 0.25em;
	top : 0.25em;
}

.ol-attribution {
	right : 0.25em;
	top : 0.25em;
	bottom : auto;
}

.inactive {
	opacity : 0.5;
}

.ol-popup {
	pointer-events : none;
	background-color : transparent;
}
.ol-popup:before {
	display : none;
}

#participant_details {
	z-index:99999;
	position:absolute;
	background-color:red;
	top:0;
	bottom:0;
	left:0;
	width:auto;
	padding:5px;
}


#map {
	padding : 0;
	overflow: hidden;
}

#left_pane {
	overflow-x : hidden;
	overflow-y : auto;
}


.popup_content_img {
	position : absolute;
	width : 128px;
	height : 128px;
	border : 3px solid white;	
  	background-color: black;
	border-radius : 64px;	
}

.popup_content_1 {
	margin-left : 64px;
	padding-left : 70px;
	border : 3px solid white;	
  	background-color: rgba(0,0,0,.6);
	border-radius : 16px;
	padding-right : 16px;	
	padding-top : 4px;	
	padding-bottom : 4px;	
	white-space : nowrap;
}

.popup_content_name {
	font-weight : normal;
	font-family : HarabaraMaisBold;
	font-size : 24px; 
	border-bottom : 1px solid white;
	line-height : 1.2;
	display : block;
}

.popup_content_l1 {
	display : block;
	font-size : 10px;
	line-height : 2.2;		
	border-bottom : 1px solid white;
	margin-bottom : 0.5em;
}

.popup_content_l2, .popup_content_l3 {
	display : block;
	font-size : 12px;
	line-height : 1.4;		
}

.popup_content_prg {
	position : absolute;
	top : 113px;
	right : 0;
	left : 64px;
	padding-top : 3px;
	padding-bottom : 3px;
	padding-left : 70px;
	padding-right : 15px;
	border : 3px solid white;	
  	background-color: rgba(0,0,0,.6);
	border-radius : 9px;	
}

.popup_track_pos {
	position : absolute;
	height : 14px;
	left : 70px;
	right : 0;
}
.popup_track_pos_1 {
	position : relative;
	margin-top : -4px;
	margin-left : -4px;
  	background-color: white;
	border-radius : 8px;
	border : 2px solid black;
	width : 14px;
	height : 14px;
}	

.ol-popup {
	padding-left : 0;
	padding-right : 0;
	min-height : 140px;
}

#liveStream, #partners, #legalNotice {
	position: absolute;
	top: 0;
	background: white;
	border-radius: 0 0 40px 40px;
	border: solid 3px;
	border-top: none;
	padding: 0 2px;
}

#partners, #legalNotice {
	opacity: 0.8;
	padding-top: 85px;
}

#legalNotice {
	font-size: 8px;
	padding-bottom: 30px;
}

.legalNoticeH1, .legalNoticeH2 {
	font-weight: bold;
}

#partners img {
	height: 50px;
	margin-left: 20px;
}

#liveStream {
	padding-top: 60px;
    height: 510px;   /* 275(the third-party player) + 2 row of thumbs + some bottom padding */
}

.liveStreamPlayer {
}

.liveStreamThumbs {
}

/* Center the Third-party player */
#wowza_player .player {
	margin: 0 auto;
}

.liveStreamThumb {
	display: inline-block;
	background-repeat : no-repeat;
	width: 161px;
	height: 64px; /* if two rows with 3 thumbs */
}
.liveStreamThumb1 {
	background: url("../img/b1.jpg");
}
.liveStreamThumb2 {
	background: url("../img/b2.png");
}
.liveStreamThumb3 {
	background: url("../img/b3.png");
}
.liveStreamThumb4 {
	background: url("../img/b4.png");
}
.liveStreamThumb5 {
	background: url("../img/b5.png");
}
.liveStreamThumb6 {
	background: url("../img/b6.png");
}


.liveStreamThumb.inactive {

}
.liveStreamThumb.valid {
	cursor: pointer;
}

#debugShowPosition {
	position: absolute;
	top: 0;
	z-index: 9999999;
}

#debugShowPosition span {
	background-color: #d9d902;
}

.button-assignments,.button-status,.button-gpx {
	display : inline-block;
	padding : 1em;
	font-weight : bold;
	font-size : 150%;
	border : 2px solid gray;
	border-radius : 5px;
	margin-left:10px;
	margin-top:10px;
	cursor : pointer;
}

.button-assignments:hover,.button-status:hover,.button-gpx:hover {
	border : 2px solid red;
	color : red;
}

#header, #toolbar_map, #liveStream {
	margin-left: -250px;
	width: 500px;
	left: 50%;
	z-index: 999998;
	position:absolute;
}

@media screen and (max-width: 500px) {
	#header, #toolbar_map, #liveStream {
		margin-left: -165px;
		width: 330px;
	}

	#header {
		height: 70px;
		background-size: 150px auto, 150px auto;
	}

	#button_liveStream,
	#button_rank,
	#button_favorites,
	#button_participants,
	#toolbar_track {
		width: 42px;
		height: 42px;
		border-radius: 21px;
	}
	#button_liveStream img,
	#button_rank img,
	#button_favorites img,
	#button_participants img {
		height: 28px;
		width: 28px;
		margin-left: 4px;
		margin-top: 4px;
	}
	#button_participants {
		margin-left: -62px;
	}
	#button_favorites {
		margin-left: -109px;
	}
	#button_rank {
		margin-left: -154px;
	}

	#toolbar_track {
		width: 127px;
		margin-left: 27px;
		padding-left: 8px;
		padding-top: 2px;
	}
	#button_run,
	#button_bike,
	#button_swim {
		width: 32px;
		height: 32px;
		border-radius: 16px;
		border-width: 2px;
	}
	#button_run img,
	#button_bike img,
	#button_swim img {
		height: 28px;
		width: 28px;
		padding-left: 3px;
		padding-top: 3px;
	}

	#liverank-logo {
		margin-left: -84px;
		width: 168px;
	}
	#link_partners {
		margin-right: 85px;
	}
	#link_legalNotice {
		margin-left: 85px;
	}
}

@media screen and (max-width: 320px) {
	#header, #toolbar_map, #liveStream {
		margin-left: -140px;
		width: 280px;
	}

	#header {
		height: 60px;
		background-size: 130px auto, 130px auto;
	}

	#button_participants {
		margin-left: -56px;
	}
	#button_favorites {
		margin-left: -98px;
	}
	#button_rank {
		margin-left: -140px;
	}

	#toolbar_track {
		margin-left: 26px;
		padding-left: 4px;
		width: 118px;
	}
}

/* Tweak the data tables CSS */


table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
	content: "";
	background-color: transparent;
	border: none;
	border-radius: unset;
	box-shadow: none;

	background-image: url(../img/plus_solid.svg);
	background-size: 16px;
	top: 10px;
	top: calc(50% - 8px);
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before {
	content: "";
	background-color: transparent;

	background-image: url(../img/plus.svg);
	background-size: 16px;
}