.ol-popup {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 18px;			/* original 34 px */
    left: -50px;
    border-radius : 8px;
    color:white;   
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: rgba(0,0,0,0.5);
    border-width: 11px;
    left: 48px;
    margin-left: -9px;
}

.ol-popup-content {
    min-width: 240px;
    max-height: 240px;
    overflow-x: auto;
    overflow-y: hidden;
}

.ol-popup-closer {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 120%;
    padding: 0 0px;
    color: gray;
    text-decoration: none;
    display:none;
}

.ol-popup-closer:after {
    content: "✖";
}

.ol-popup div.infoResult {
    min-width: 130px;
}

.ol-popup div.infoResult p {
    padding: 0.1em;
    margin: 0;
}

.ol-popup-content h3 {
    margin: 0.25em 0;
}

.ol-popup.marker {
    margin-bottom: 30px;
}
